body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    line-height: 1.9;
    color: #8c8c8c;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", sans-serif;
    color: #000;
}

a {
    transition: .3s all ease;
}
a, a:hover {
    text-decoration: none !important;
}

.text-black {
    color: #000;
}

.content {
    padding: 4rem 6rem;
}

.heading {
    font-size: 2.5rem;
    font-weight: 900;
}

.form-control {
    border: none;
    background: #f3f3f3;
    padding: 10px;
    margin-bottom: 15px;
    font-size: larger;
}
.form-control:active, .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #000;
    background: #f3f3f3;
}

.col-form-label {
    color: #000;
}

.btn, .form-control, .custom-select {
    height: 50px;
    width: 100%;
}
.text-area {
    height: 250px;
}
.custom-select:active, .custom-select:focus {
    outline: none;
    box-shadow: none;
    border-color: #000;
}

.btn {
    border: none;
    border-radius: 4px !important;
    background: #11222b;
    color: #fff;
    padding: 15px 20px;
    cursor: pointer;
}
.btn:hover {
    color: #fff;
}
.btn:active, .btn:focus {
    outline: none;
    box-shadow: none;
}

.row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 2rem;
}

.column {
    flex: 1;
    margin: 10px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

#form-message-warning, #form-message-success {
    display: none;
}

#form-message-warning {
    color: #B90B0B;
}

#form-message-success {
    color: #55A44E;
    font-size: 18px;
    font-weight: bold;
}

.submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-weight: bold;
    font-size: 12px;
    color: #000;
}
