body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    align-items: stretch;
    padding: 0; /* Remove padding */
    height: 80px; /* Set this to the height of your navbar */
}

.navbar-item {
    padding-left: 20px;
    padding-right: 20px;
    color: #11222b;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    height: 100%; /* This will make the navbar-item the same height as the navbar */
    text-decoration: none; /* Add this line to remove the underline */
}

.navbar-item:not(.logo):not(.quote)::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff7d0b;
    transition: top 0.3s ease;
    z-index: -1;
}

.navbar-item:not(.logo):not(.quote):hover::after {
    top: 0;
}

.navbar-item:not(.logo):not(.quote):hover {
    color: #fff;
}
.navbar-item.quote {
    background-color: #CE1111;
    color: #fff;
}

.navbar .navbar-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%; /* Adjust this value to change the spacing between the items */
}

.banner {
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url('../images/banner.jpg');
    background-size: cover;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.banner-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background-color: #11222b;
    color: #cccccc;
    display: flex;
    justify-content: space-between;
    padding: 20px 64px;
    text-align: center;
}

.footer-text-alignment {
    padding: 0 40px;
}

.footer-section {
    width: 30%;
}

.footer-section h2 {
    color: #ff7d0b;
}

.footer-section p, .footer-section input, .footer-section button {
    color: rgba(204, 204, 204, 1);
}

.footer-section input, .footer-section button {
    padding: 10px;
    margin-top: 10px;
}

.footer-section button {
    background-color: #ff7d0b;
    border: none;
    color: #fff;
    cursor: pointer;
}

.contact-info {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.contact-info a {
    display: flex;
    align-items: center;
    gap: 10px;
}


.footer-section a {
    display: block;
    color: rgba(204, 204, 204, 1);
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 10px;
}
.footer-section a:hover {
       color: #ff7d0b;
       filter: brightness(0) saturate(100%) invert(39%) sepia(100%) saturate(1000%) hue-rotate(12deg);

}

hr {
    border: none;
    border-top: 1px solid rgba(204, 204, 204, 1);
    margin: 20px 0;
}

.footer-logo {
    height: 88px;
}

.contact-icon {
    height: 24px;
    margin: 0 12px 0 0;
}

/* New styles for the social media section */
.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.social-media a img {
    height: 24px;
    width: 32px;
    filter: grayscale(100%);
    transition: filter 0.3s;
}

.social-media a img:hover {
    filter: brightness(0) saturate(100%) invert(39%) sepia(100%) saturate(1000%) hue-rotate(12deg);
}